.locationCard {
    width: 400px;
}


.locationMeta {
    width: 50%;
    color: black;
    text-align: center;
    background: lightgray;
    // align-items: flex-end;
}

.ui.card {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
